{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">You're buying {{product.name}}</h5>
      </div>
    <form method="POST">
      {{ form.hidden_tag()}}
          <div class="form-group">
            <strong> {{ form.qty.label }} </strong>
            {{ form.qty(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-success") }}
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}