{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Your transactions</h5>
      </div>
              </div>
        <table class="table">
          <thead>
            <th>#</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Date</th>
          </thead>
          <tbody>
            {% if transactions %}
              {% for t in transactions %}
              <tr>
                <td>{{t.id}}</td>
                <td>{{t.item}}</td>
                <td>{{t.quantity}}</td>
                <td>{{t.date}}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td>No transactions</td>
              </tr>
              {%endif%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
